h1{
    font-weight: 500;
    font-size: 45px;
    margin: 100px;
}
.row{
    margin: 20px;
    border: 10px;

}
input{
    width: 80%;
}
.container{
    margin-left: 300px;
    margin-right: 300px;
}
.todo-center{
    border: 2px solid black;
    margin: 20px 250px auto 250px;
    padding: 10px;

    
}